<div class="container-fluid">
  <!-- nav -->
  <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
  </nav>

  <div class="row navbar navbar-expand navbar-dark bg-dark">
    <div class="col-sm-1">
      <a class="nav-item nav-link" routerLink="/overall">Overall</a>
    </div>
    <div class="col-sm-1">
      <a class="nav-item nav-link" routerLink="/cost">Cost</a>
    </div>
    <div class="col-sm-2">
      <a class="nav-item nav-link" routerLink="/carbon-footprint">Carbon Footprint</a>
    </div>
  </div>

  <div class="row">
    <!-- main app container -->
    <div class="col jumbotron">
      <alert></alert>
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="row">
    <!-- credits -->
    <div class="col">
      <p class="text-center">
        <a href="https://www.builtrix.tech/" target="_top">Builtrix : Trusted METRICs for Your Buildings !</a>
      </p>
    </div>
  </div>
</div>

