<div class="container justify-content-md-center">
  <div class="row">
    <div class="col highcharts-container">
      <app-normalized-vs-energy-efficiency></app-normalized-vs-energy-efficiency>
    </div>
  </div>
  <div class="row">
    <div class="col highcharts-container">
      <app-consumption-weather></app-consumption-weather>
    </div>
  </div>
  <div class="row">
    <div class="col highcharts-container">
      <app-predicted-weather-vs-real></app-predicted-weather-vs-real>
    </div>
  </div>
  <div class="row">
    <div class="col highcharts-container">
      <app-normalized-per-capita></app-normalized-per-capita>
    </div>
  </div>
</div>
