<div class="container justify-content-md-center">
  <h4 align="center" class="p-4">Normalized Consumption vs Energy Efficiency Standards
  </h4>
  <div class="row pb-5">
    <div class="col highcharts-container">
      <app-normalized-vs-energy-efficiency></app-normalized-vs-energy-efficiency>
    </div>
  </div>

  <h4 align="center" class="p-4">Normalized Consumption Considering Weather Normalization</h4>
  <div class="row pb-5">
    <div class="col highcharts-container">
      <app-consumption-weather></app-consumption-weather>
    </div>
  </div>

  <h4 align="center" class="p-4">Predicted Baseline by Weather vs Real Consumption</h4>
  <div class="row pb-5">
    <div class="col highcharts-container">
      <app-predicted-weather-vs-real></app-predicted-weather-vs-real>
    </div>
  </div>

  <h4 align="center" class="p-4">Predicted Baseline by Weather vs Real Consumption</h4>
  <div class="row pb-5">
    <div class="col highcharts-container">
      <app-normalized-per-capita></app-normalized-per-capita>
    </div>
  </div>
</div>
