<div class="container mt-3 panel-notification">
  <h2>Your notifications</h2>
 <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam enim, architecto eveniet ipsum numquam a, doloremque earum nemo error unde culpa laboriosam sed aliquam magni voluptates quaerat odit? Veritatis, reiciendis.</div>
  <hr>
  <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam enim, architecto eveniet ipsum numquam a, doloremque earum nemo error unde culpa laboriosam sed aliquam magni voluptates quaerat odit? Veritatis, reiciendis.</div>
  <hr>
  <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam enim, architecto eveniet ipsum numquam a, doloremque earum nemo error unde culpa laboriosam sed aliquam magni voluptates quaerat odit? Veritatis, reiciendis.</div>
  <hr>
</div>
