<aw-wizard>
  <aw-wizard-step stepTitle="Customer Information">
    <form #userForm="ngForm" (ngSubmit)="onSubmit()" name="myForm" class="form-horizontal">
      <input type="hidden" [(ngModel)]="user.id" name="userId"/>

      <div class="row">
        <div class="form-group col-md-10">
          <label class="col-md-3 control-lable" for="emailAddress">Email Address</label>
          <div class="col-md-7">
            <input type="email" [(ngModel)]="user.emailAddress" id="emailAddress" name="emailAddress"
                   class="form-control input-sm" placeholder="Enter your email address." required
                   [email]="true"
                   #email="ngModel"/>
            <div *ngIf="email.invalid && (email.dirty || email.touched)"
                 class="alert alert-danger">

              <div *ngIf="email.errors.required">
                Email Address is required.
              </div>
              <div *ngIf="email.errors.email">
                Email Address is invalid.
              </div>
            </div>
          </div>
        </div>

        <div class="form-group col-md-10">
          <label class="col-md-3 control-lable" for="firstName">First Name</label>
          <div class="col-md-7">
            <input type="text" [(ngModel)]="user.firstName" id="firstName" name="firstName"
                   class="form-control input-sm" placeholder="Enter your first name" required
                   #firstName="ngModel"/>
            <div [hidden]="firstName.valid || firstName.pristine"
                 class="text-danger">
              First name is required
            </div>
          </div>
        </div>

        <div class="form-group col-md-10">
          <label class="col-md-3 control-lable" for="lastName">Last Name</label>
          <div class="col-md-7">
            <input type="text" [(ngModel)]="user.lastName" id="lastName" name="lastName"
                   class="form-control input-sm" placeholder="Enter your last name" required ng-minlength="3"
                   #lastName="ngModel"/>
            <div [hidden]="lastName.valid || lastName.pristine"
                 class="text-danger">
              Last name is required
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-10">
          <label class="col-md-3 control-lable" for="job">Job</label>
          <div class="col-md-7">
            <input type="text" [(ngModel)]="user.job" id="job" name="job" class="form-control input-sm"
                   placeholder="Enter your Job."/>
          </div>
        </div>
      </div>

      <br>
      <span class="btn-group">
      <button class="btn btn-outline-secondary" type="button" [awGoToStep]="{stepIndex: 2}">Go directly to third Step<i
        class="fa fa-arrow-right"></i></button>
      <button style='margin-right:12px; margin-left:12px;' class="btn btn-primary" type="submit" awNextStep
              [disabled]="!userForm.form.valid">Next step<i
        class="fa fa-arrow-right"></i></button>
        <!--<button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>-->
    </span>
    </form>
  </aw-wizard-step>
  <aw-wizard-step stepTitle="Building Information" awOptionalStep>
    <form #buildingForm="ngForm" (ngSubmit)="onSubmit()" name="buildingForm" class="form-horizontal">
      <div class="row">
        <div class="form-group col-md-10">
          <label class="col-md-3 control-lable" for="buildingName">Building Name</label>
          <div class="col-md-7">
            <input type="text" [(ngModel)]="building.name" id="buildingName" name="buildingName"
                   class=" form-control input-sm" placeholder="Enter your building name" ng-minlength="3"/>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-10">
          <label class="col-md-3 control-lable" for="postalAddress">Full Address</label>
          <div class="col-md-7">
            <input type="text" [(ngModel)]="building.postalAddress" id="postalAddress" name="postalAddress"
                   class=" form-control input-sm" placeholder="Enter your full address" required ng-minlength="3"
                   #fullAddress="ngModel"/>
          </div>
          <div [hidden]="fullAddress.valid || fullAddress.pristine"
               class="text-danger">
            Full address is required
          </div>
        </div>
      </div>

      <div class="row">

        <div class="form-group col-md-10">
          <label class="col-md-3 control-lable" for="postalCode">Postal Code</label>
          <div class="col-md-7">
            <input type="text" [(ngModel)]="building.postalCode" id="postalCode" name="postalCode"
                   pattern="^[0-9]{4}-[0-9]{3}$"
                   class="form-control input-sm" placeholder="Enter your postal code" required tooltip="The zip code must have 4 digits with a - and 3
              more digits (XXXX-XXX)."
                   theme="light"
                   placement="top"
                   #postalCode="ngModel"/>

            <div *ngIf="postalCode.invalid && (postalCode.dirty || postalCode.touched)"
                 class="alert alert-danger">

              <div *ngIf="postalCode.errors.required">
                Postal Code is required.
              </div>
              <div *ngIf="postalCode.errors.pattern">
                Postal Code is invalid.
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="row col-md-9">
        <!--<div class="col-md-12">-->
        <div class="form-group col-md-4">
          <label class="control-lable" for="buildingArea">Building Area</label>
          <input type="text" [(ngModel)]="building.area" id="buildingArea" name="buildingArea"
                 class="form-control input-sm" placeholder="Enter your Building Area." required
                 tooltip="The average area of your building in m2."
                 theme="light"
                 placement="top"
                 #buildingArea="ngModel"/>
          <div [hidden]="buildingArea.valid || buildingArea.pristine"
               class="text-danger">
            Building area is required
          </div>
        </div>

        <div class="form-group col-md-4">
          <label class="control-lable" for="numberOfPeople">Number Of People</label>

          <input [(ngModel)]="building.numberOfPeople"
                 tooltip="The average number of daily staffs/clients/guests in your building."
                 theme="light"
                 placement="top"
                 class="form-control input-sm" id="numberOfPeople"
                 name="numberOfPeople" placeholder="Enter number Of People." type="text">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-10">
          <label class="col-md-3 control-lable" for="buildingUsage">Building Usage</label>
          <div class="col-md-7">
            <building-usage-component [(inputSliderValue)]="building.usage" id="buildingUsage"
                                      name="buildingUsage"></building-usage-component>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-10">
          <label class="col-md-3 control-lable" for="buildingAge">Building Age</label>
          <div class="col-md-7">
            <building-age-component [(inputSliderValue)]="building.age" id="buildingAge"
                                    name="buildingAge"></building-age-component>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-10">
          <label class="col-md-3 control-lable" for="energyCertificate">Energy Certificate</label>
          <div class="col-md-7">
            <energy-certificate-component [(inputSliderValue)]="building.energyCertificate" id="energyCertificate"
                                          name="energyCertificate"
                                          tooltip="You can ask your building manager for your building energy certificate."
                                          theme="light"
                                          placement="right"></energy-certificate-component>
          </div>
        </div>
      </div>

      <span class="btn-group">
      <button style='margin-right:12px; margin-left:12px;' class="btn btn-outline-secondary" type="button"
              awPreviousStep>Go to previous step<i class="fa fa-arrow-right"></i></button>

      <button class="btn btn-primary" type="submit" awNextStep [disabled]="!buildingForm.form.valid">Go to next step<i
        class="fa fa-arrow-right"></i></button>
    </span>
    </form>
  </aw-wizard-step>
  <aw-wizard-step stepTitle="Upload Bill Files">
    <form #fileForm="ngForm" (ngSubmit)="onSubmit()" name="fileForm" class="form-horizontal">
      <div class="row">
        <div class="form-group col-md-12">
          Please upload at least one type of bill in zip format
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label class="col-md-2 control-lable" for="gasFile">Gas Bill</label>
          <div class="col-md-6">
            <input #gasFile type="file" id="gasFile" name="gasFile" accept=".zip" placeholder="Upload Gas Bills Here."
                   (change)="selectFile($event, 'Gas')">
            <button [hidden]="!gasFile.value" class="remove-button"
                    (click)="removeSelectedFile(gasFile)">X
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-12">
          <label class="col-md-2 control-lable" for="gasFile">Water Bill</label>
          <div class="col-md-6">
            <input #waterFile type="file" id="waterFile" name="gasFile" accept=".zip" size="1 m"
                   placeholder="Upload Water Bills Here."
                   (change)="selectFile($event, 'Water')">
            <button [hidden]="!waterFile.value" class="remove-button"
                    (click)="removeSelectedFile(waterFile)">X
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-12">
          <label class="col-md-2 control-lable" for="gasFile">Electricity Bill</label>
          <div class="col-md-6">
            <input #electricityFile type="file" id="electricityFile" name="electricityFile" accept=".zip"
                   placeholder="Upload Electricity Bills Here."
                   (change)="selectFile($event, 'Electricity')">
            <button [hidden]="!electricityFile.value" class="remove-button"
                    (click)="removeSelectedFile(electricityFile)">X
            </button>
          </div>
        </div>
      </div>

      <br/>
      <span class="btn-group">
      <button style='margin-right:12px; margin-left:12px;' class="btn btn-primary" type="button" awPreviousStep>Go to previous step
        <i class="fa fa-arrow-right"></i>
      </button>

      <button type="submit" class="btn btn-success" (click)="finishFunction()"
              [disabled]="!gasFile && !electricityFile && !waterFile ">Finish
        <i class="fa fa-arrow-right"></i>
      </button>
    </span>
    </form>
  </aw-wizard-step>
</aw-wizard>
