<div class="container justify-content-md-center">
  <div class="row">
    <div class="col">
      <label>
        Average Tariff Cost Structure
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-average-tariff-filter (chartOptions)="getChangedOptions($event)">

      </app-average-tariff-filter>
    </div>
  </div>
  <div class="row">
    <div class="col highcharts-container">
      <app-consumption-dynamic-bar-chart [chartOptions]="chartOptions"
      ></app-consumption-dynamic-bar-chart>
    </div>
  </div>
</div>
