


<!-- 
chart daily consumption -->
<!-- <hr>
<app-daily-consumption></app-daily-consumption> -->


<div class="container-fluid">
  <div class="row mt-2">
    <div class="col">
      <mat-card>
        <app-cost-stack-chart></app-cost-stack-chart>
      </mat-card>
    </div>

  </div>
  <div class="row mt-2">
    <div class="col">
      <mat-card>
        <app-daily-electricity></app-daily-electricity>
      </mat-card>
    </div>

  </div>
  <div class="row">
    <div class="col-md-6 my-2">

      <mat-card>
        <app-cost-pie-chart></app-cost-pie-chart>
      </mat-card>
    
    </div>
    <div class="col-md-6 my-2">
      <mat-card>
        <app-carbon-pie-chart></app-carbon-pie-chart>
      </mat-card>
     
    </div>
  </div>
</div>

