<app-cost-stack-chart></app-cost-stack-chart>
<!-- 
chart daily consumption -->
<hr>
<app-daily-consumption></app-daily-consumption>


<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <app-cost-pie-chart></app-cost-pie-chart>
    </div>
    <div class="col-6">
      <app-carbon-pie-chart></app-carbon-pie-chart>
    </div>
  </div>
</div>
<!--   <div class="row" >
   <div class="col-6">
     <app-cost-pie-chart></app-cost-pie-chart>
   </div>
   <div class="col-6">
     <app-carbon-pie-chart></app-carbon-pie-chart>
   </div>
 </div>   -->

<!-- <div class="container justify-content-md-center">
  <div class="row">
    <div class="col highcharts-container">
      <app-carbon-spline-chart></app-carbon-spline-chart>
    </div>
  </div>
  <div class="row" style="margin-top: 70px;">

  </div>
</div> -->
