
<div class="container-fluid">
  <app-building-button (loadPage)="loadPage()"></app-building-button>
<div class="row my-1">
<div class="col">
  <mat-card>
    <app-electricity-consumption-over-time ></app-electricity-consumption-over-time>
  </mat-card>
</div>
</div>
<div class="row my-1">
<div class="col">
<mat-card>
  <app-daily-consumption ></app-daily-consumption>
</mat-card>
</div>
</div>
<div class="row mb-2 ">
  <div class="col ">
    <mat-card>
      <app-heatmap-hourly></app-heatmap-hourly>
    </mat-card>
  </div>




</div>
 <div class="row mb-2 ">
  <div class="col ">
    <mat-card>
      <app-heatmap-daily></app-heatmap-daily>
    </mat-card>
  </div>




</div> 
</div>








<!-- <div class="container justify-content-md-center">


  <h4 align="center" class="p-5">Average Tariff Cost Structure</h4>
  <div class="row">
    <div class="col">
      <app-average-tariff-filter (chartOptions)="getChangedOptions($event)">
      </app-average-tariff-filter>
    </div>
  </div>
  <div class="row">
    <div class="col highcharts-container">
      <app-consumption-dynamic-bar-chart [chartOptions]="chartOptions"
      ></app-consumption-dynamic-bar-chart>
    </div>
  </div>
</div> -->
