<app-electricity-consumption-over-time></app-electricity-consumption-over-time>


<!-- <div class="container justify-content-md-center">


  <h4 align="center" class="p-5">Average Tariff Cost Structure</h4>
  <div class="row">
    <div class="col">
      <app-average-tariff-filter (chartOptions)="getChangedOptions($event)">
      </app-average-tariff-filter>
    </div>
  </div>
  <div class="row">
    <div class="col highcharts-container">
      <app-consumption-dynamic-bar-chart [chartOptions]="chartOptions"
      ></app-consumption-dynamic-bar-chart>
    </div>
  </div>
</div> -->
