<h2 align="center">Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="container>">
    <div class="row justify-content-md-center">
      <div class="col-sm-3">
        <div class="form-group">
          <label for="emailAddress">Email</label>
          <input type="text" formControlName="emailAddress" class="form-control" [email]="true"
                 placeholder="Enter your email address."
                 [ngClass]="{ 'is-invalid': submitted && f.emailAddress.errors }"/>

          <div *ngIf="f.emailAddress.invalid && (f.emailAddress.dirty || f.emailAddress.touched)"
               class="alert alert-danger">
            <div *ngIf="f.emailAddress.errors.required">Email is required</div>
            <div *ngIf="f.emailAddress.errors.email">
              Email Address is invalid.
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-sm-3">
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" formControlName="password" placeholder="Enter your password" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
          <div *ngIf="submitted && f.password.errors" class="alert alert-danger">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-sm-3">
        <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Login
          </button>
          <a routerLink="/register" class="btn btn-link">Register</a>
        </div>
      </div>
    </div>
  </div>
</form>
