<mat-card class="card-1">
  <mat-card-content>
    <div class="container">
      <div class="panel-heading">
        <h5>Building Info</h5>
      </div>
      <div class="row">
        <div class="col">
          <label><b>Property Name: </b></label> {{building.name}}
        </div>
        <div class="col">
          <label><b>Property Function: </b></label> {{building.usage}}
        </div>
        <div class="col">
          <label><b>Gross Floor Area (m2):</b></label> {{building.area}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label><b>Building Age:</b></label> {{building.builtIn}}
        </div>
        <div class="col">
          <label><b>Property Address:</b></label> {{building.postalAddress}}
        </div>
        <div class="col">
          <a [routerLink]="['/wizard',building.id]" class="btn btn-link">Update Form</a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row mt-3">
        <div class="col">
          <app-building-messages [routerLink]="['/building-details-admin',building.id]"></app-building-messages>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-lg btn-outline-primary" (click)="open(mymodal)">Creat New Message</button>
        </div>
      </div>
      <ng-template #mymodal let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">New Message</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <label for="messageBody">Body</label>
          <textarea [(ngModel)]="messageBody" id="messageBody" class=" form-control input-sm"
                    placeholder="Enter new message" required>
          </textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Create</button>
        </div>
      </ng-template>
    </div>
  </mat-card-content>
</mat-card>
