<!-- buttons and building -->
<div class="container-fluid">
  <div class="row justify-content-between">
    <div class="col py-2 mx-2   col-auto">
      <button mat-button >
        {{building.name}}<mat-icon >keyboard_arrow_down</mat-icon>
      </button>
    </div>
  
    <div class="mt-2  mr-5 col col-auto bill-button">
  
   <!--    <button mat-flat-button color="Disabled" id="done">
        <mat-icon>done</mat-icon>
        Done
      </button> -->
      <button mat-flat-button color="Disabled" class="ml-2 " id="bill">
        <mat-icon>add</mat-icon>
        Add new bill
      </button>
  
    </div>
  </div>


<!-- cards and chart -->

  <div class="row">
    <div class="col-lg-6 ">
   <div class="row align-items-start">
    <div class="col-12">
      <mat-card class="example-card ">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title id="title-color-card"> March Summary</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
  
        <mat-card-content>
          <div class="container">
            <div class="row">
              <div class="col">
                <mat-icon>attach_money</mat-icon>
                Cost(€)
              </div>
  
              <div class="col3">{{currentMonthSummary.cost}} </div>
            </div>
            <hr>
            <div class="row">
              <div class="col">
                <mat-icon>timeline</mat-icon>
                Consumption(kWh)
              </div>
  
              <div class="col3"> {{currentMonthSummary.consumption}}</div>
            </div>
            <hr>
            <div class="row">
              <div class="col">
                <mat-icon>eco</mat-icon>
                Environmental(kg CO2)
              </div>
  
              <div class="col3">{{currentMonthSummary.environmental}}</div>
            </div>
  
          </div>
          <div>
            <!--  <app-be-score></app-be-score> -->
          </div>
        </mat-card-content>
  
      </mat-card>
      <hr>
    </div>
    <div class="col-12 mb-2" *ngIf="currentMonthSummary">
      <mat-card>
        <div class="row">
          <div class="col-xl-6">
            <app-be-score></app-be-score>
          </div>
          <div class="col-xl-6 align-self-center text-center">
              <h5 style="color: #36B37E;">Property's Target {{propertyTarget}}</h5>
              <br>
              <h5 style="color: #4C5E81">National Median   {{nationalMedian}}</h5>
              <br>
          </div>
        </div>
      

      </mat-card>
      </div>
   </div>
  
    </div>
    <div class="col-lg-6">
      <mat-card style="height: 600px; margin-bottom: 10px;">
        <app-predictions></app-predictions>
      </mat-card>
     
    </div>
  </div>
</div>





