<div class="container justify-content-md-center">
  <div class="row" style="height: 500px;">
    <div class="col my-auto">
      <app-predictions></app-predictions>
    </div>
    <div class="col my-auto">
      <div class="border border-info">
        <div class="h5 text-center">
          Savings This Month
        </div>
      </div>
      <div class="border border-info">
        <div class="text-center">
          Consumption (kWh): 1263
        </div>
        <div class="text-center">
          <br>Cost (€): 180
        </div>
        <div class="text-center">
          <br>Environmental (kg CO2): 515
          <br>
        </div>
      </div>
    </div>
    <div class="col my-auto">
      <app-be-score></app-be-score>
    </div>

  </div>
</div>



