.example-card{
   height: 250 px;

}
.example-card2{
    height: 350px;
}

/* bill buttons */


.example-button-row button,
.example-button-row a {
  margin-left:25px;
}
#bill{
background-color:#3A9AFC; 
color: white;
}
#done{
    background-color:#3A9AFC ;
    color: white;
}