table-energy{
  margin-left: 5px;
}
.title{
    text-align: center;
    font-size: 25px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    color: #4C5E81;
}

/* padding  */
.report_buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  0 50px;
}