<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Building List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Building Name</th>
        <th>Building Age</th>
        <th>Building Address</th>
        <th>Building usage</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let building of buildings">
        <td>{{building.name}}</td>
        <td>{{building.age}}</td>
        <td>{{building.postalAddress}}</td>
        <td>{{building.usage}}</td>
        <td>
          <a [routerLink]="['/building-details-admin',building.id]">Details</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

