<form #userForm="ngForm" name="myForm" class="form-horizontal">
  <input type="hidden" [(ngModel)]="user.id" name="userId"/>
  <div class="form-row">
    <div class="form-group col-md-5">
      <label class="control-lable" for="emailAddress">Email Address</label>
      <input type="email" [(ngModel)]="user.emailAddress" id="emailAddress" name="emailAddress"
             class="form-control input-sm" placeholder="Enter your email address." required
             [email]="true"
             #email="ngModel"/>
      <div *ngIf="email.invalid && (email.dirty || email.touched)"
           class="alert alert-danger">

        <div *ngIf="email.errors.required">
          Email Address is required.
        </div>
        <div *ngIf="email.errors.email">
          Email Address is invalid.
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-5">
      <label class="control-lable" for="firstName">First Name</label>
      <input type="text" [(ngModel)]="user.firstName" id="firstName" name="firstName"
             class="form-control input-sm" placeholder="Enter your first name" required
             #firstName="ngModel"/>
      <div [hidden]="firstName.valid || firstName.pristine"
           class="text-danger">
        First name is required
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-5">
      <label class="control-lable" for="lastName">Last Name</label>
      <input type="text" [(ngModel)]="user.lastName" id="lastName" name="lastName"
             class="form-control input-sm" placeholder="Enter your last name" required ng-minlength="3"
             #lastName="ngModel"/>
      <div [hidden]="lastName.valid || lastName.pristine"
           class="text-danger">
        Last name is required
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-5">
      <label class="control-lable" for="job">Job</label>
      <input type="text" [(ngModel)]="user.job" id="job" name="job" class="form-control input-sm"
             placeholder="Enter your Job."/>
    </div>
  </div>
  <button style='margin-right:12px; margin-left:12px;' class="btn btn-primary" type="submit" (click)="finishFunction()"
          [disabled]="!userForm.form.valid">Submit
    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
    <i class="fa fa-arrow-right"></i>
  </button>
</form>
