<hr/>


<div hidden>
  {{building.id}}
</div>


<!-- title and buttons -->
<div class="container ">
  <div class="row justify-content-between " id="prueba">
    <div class="col col-auto">
      <h3>General information</h3>
    </div>

    <!--  (click)="openDialog() -->
  
  </div>
</div>

<mat-card class="card-1">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>

    <mat-card-title id="title-color-card"> {{monthSummary[0].viewValue}} Summary</mat-card-title>



    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h5>Property Function:</h5>
          <h5>Gross Floor Area(m2):</h5>
          <h5>Built in:</h5>
          <h5>Date of Report Generation:</h5>
          <h5>Property Address:</h5>
        </div>
        <div class="col-6 fixed">
          <h5>{{building.usage | removeUnderline}}</h5>
          <h5>{{building.area}} </h5>
          <h5>{{getBuiltIn()}}</h5>
          <h5>{{getCurrentDate()}}</h5>
          <h5>{{building.postalAddress}}</h5>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

