<hr/>
<!-- <h5 align="center">Building Details</h5>
<br>
<div class="container" *ngIf="building">
  <div hidden>
    {{building.id}}
  </div>
  <div class="row">
    <div class="col">
      <label><b>Property Function: </b></label> Office
    </div>
    <div class="col">
      <label><b>Gross Floor Area (m2):</b></label> {{building.area}}
    </div>
    <div class="col">
      <label><b>Building Age:</b></label> {{building.builtIn}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label><b>Date of Report Generation:</b></label> Aug-21-2019
    </div>
    <div class="col">
      <label><b>Property Address:</b></label> {{building.postalAddress}}
    </div>
    <div class="col">
      <a routerLink="/wizard" class="btn btn-link">Update Form</a>
    </div>
  </div>
</div> -->

<div hidden>
  {{building.id}}
</div>

<h3>General information</h3>
<mat-card class="card-1">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>

    <mat-card-title id="title-color-card">Current Month Summary</mat-card-title>



    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h5>Property Function:</h5>
          <h5>Gloss Floor Area(m2):</h5>
          <h5>Built in:</h5>
          <h5>Date of Report Generation:</h5>
          <h5>Property Address:</h5>
        </div>
        <div class="col-6 fixed">
          <h5>Office</h5>
          <h5>{{building.area}} </h5>
          <h5>11</h5>
          <h5>Mar-11-2020</h5>
          <h5>{{building.postalAddress}}</h5>
        </div>
      </div>
    </div>
  </mat-card-content>

</mat-card>
<hr>





<hr/>
