<div class="full-full  loginImage">
 <!--  <a class="navbar-brand" href="#">
    <img src="../../assets/images/logo-white.png" style="width:200px;height: auto">
  </a> -->
  <div class="container ">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5 ">
          <div class="card-body">
            <h5 class="card-title text-center"><img src="../../assets/images/bafa157a-cb70-4b75-9b84-670ea85efb19.png"
                style="width:170px;height: 100px"></h5>
            <h3 class="card-title text-center lato">Reset your password</h3>
            <form>
              <div class="mb-3">
                <label for="emailAddress">Email</label>
                <input type="text" id="emailAddress"  class="form-control"
                  placeholder="Enter your email address." />
               </div>
               <div>
                <div>
                  <button class="btn btn-primary btn-block mb-3">
                    Reset your password
                  </button>
                  </div>
                  <div class="text-center">
                  <a [routerLink]="['/login']" routerLinkActive="router-link-active" class="btn btn-link" style="color: #4C5E81;">Cancel</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
